# Tailwind Config
tailwind.config.js

# Virtual Environment andEnvironmental Variables 
.venv
.env

# Flask Debug Log and pycache
meet_server.log
flask_debug.log
__pycache__

# Ollama files
ollama.exe
ollama-windows-amd64.zip
models/

# Python
__pycache__/
*.py[cod]
*$py.class
.env

# Virtual Environment
venv/
env/
.env/

# IDE
.vscode/
.idea/

# Logs
*.log

